
@media screen and (max-width: 1024px) {
    .main-header {
        display: none !important;
    }
}

@media screen and (min-width: 1025px) {
    #menuToggle {
        display: none !important;
    }
}

body {
    margin: 0;
    font-family: "Georgia", sans-serif;
}

.projects section h2, .aboutMe section h2{
    font-size: 40px;
    font-family: "Tahoma", sans-serif;
    text-decoration: underline;
}

#aboutMe h2:hover, #projects h2:hover{
    animation: shake 0.9s;
}

em{
    padding: 2px;
    text-decoration: beige;
    text-decoration: underline;
    font-weight: bold;
}

.projects p, .projects ul{
    color: #333;
    font-family: "Georgia", sans-serif;
    margin-bottom: 15px;
}

.project{
    -webkit-box-shadow: -5px -6px 13px -2px rgba(73,82,20,0.42);
    -moz-box-shadow: -5px -6px 13px -2px rgba(73,82,20,0.42);
    box-shadow: -5px -6px 13px -2px rgba(73,82,20,0.42);
    padding: 25px;
}

.aboutMeContent{
    -webkit-box-shadow: -5px -6px 13px -8px rgba(153,194,167,1);
    -moz-box-shadow: -5px -6px 13px -8px rgba(153,194,167,1);
    box-shadow: -5px -6px 13px -8px rgba(153,194,167,1);
    font-family: "Georgia", sans-serif;
    font-size: 18px;
    padding: 25px;
}

.project a {
    color: #ff6600;
    transition: .6s;
    -moz-transition: .6s;
    -webkit-transition: .6s;
    -o-transition: .6s;
    font-family: "Tahoma", sans-serif;
}


.project a:hover {
    text-decoration: underline;
    text-decoration-color: lightsteelblue;
}

.mine{
    font-size: 35px;
    font-family: "Georgia", sans-serif;
}

.message{
    font-family: "Georgia", "Times New Roman", sans-serif;
    font-size: 20px;
}

#contact-area, .projects, .aboutMe{
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-color: #ededed;
    border-style: ridge;

    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.content {
    margin-left: 220px;
    padding: 10px 50px;
    height: 2000px;
    border-radius: 10px 10px 5px 5px;
    border-style: groove;
}

.quote{
    text-align: center;
    border-radius: 20px;
    margin: 20px;
}

.pic1{
    width: 420px;
    height: 300px;
    float: left;
}

.pic2{
    width: 420px;
    height: 300px;
    float: left;
}

.awardPic{
    display: flex;
}
.awardPic::after{
    content: "";
    clear: both;
    display: table;
}
.pics{
    flex: 33.33%;
    padding: 5px;
}

@media screen and (max-width: 500px) {
    .pics {
        width: 100%;
    }
}

div{
    margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.intro-2 {
    /*background: url("https://mdbootstrap.com/img/Photos/Others/img (51).jpg")no-repeat center center;*/
    background: url("../pics/background.jpg") no-repeat center center;
    background-size: cover;
}

.view {
    margin-top: -56px;
}
html,
body,
header,
.view {
    height: 100%;
}

/*Credits: https://codepen.io/erikterwan/pen/EVzeRP*/

body {
    margin: 0;
    padding: 0;

    background: #232323;
    color: #cdcdcd;
}

#menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: tomato;
}


#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked ~ ul {
    transform: none;
}