body {
    margin: 0;
    font-family: "Georgia", sans-serif;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 220px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: 21px;
    border-radius: 20px 20px 5px 5px;
    border-style: ridge;
    border-color: steelblue;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    margin-top: 10px;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.content {
    margin-left: 220px;
    padding: 10px 50px;
    height: 2000px;
    border-radius: 10px 10px 5px 5px;
    border-style: groove;
}

.quote{
    text-align: center;
    border-radius: 20px;
    margin: 20px;
}

.pic1{
    width: 420px;
    height: 300px;
    float: left;
}

.pic2{
    width: 420px;
    height: 300px;
    float: left;
}

.awardPic{

}

div{
    margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}